 .confirm-password-enter {
    opacity: 0;
    height: 0;
}

.confirm-password-enter-active {
    height: 75px;
    opacity: 1;
    transition:
        height 200ms ease-out,
        opacity 200ms ease-out;
}

.confirm-password-exit {
    height: 75px;
    opacity: 1;
}

.confirm-password-exit-active {
    height: 0;
    opacity: 0;
    transition:
        height 200ms ease-out,
        opacity 200ms ease-out;
}

.password-mismatch-enter {
    opacity: 0;
    height: 0;
}

.password-mismatch-enter-active {
    height: 19px;
    opacity: 1;
    transition:
        height 200ms ease-out,
        opacity 200ms ease-out;
}

.password-mismatch-exit {
    height: 19px;
    opacity: 1;
}

.password-mismatch-exit-active {
    height: 0;
    opacity: 0;
    transition:
        height 200ms ease-out,
        opacity 200ms ease-out;
}

.restaurant-owner-enter {
    opacity: 0;
    height: 0;
}

.restaurant-owner-enter-active {
    height: 24px;
    opacity: 1;
    transition:
        height 200ms ease-out,
        opacity 200ms ease-out;
}

.restaurant-owner-exit {
    height: 24px;
    opacity: 1;
}

.restaurant-owner-exit-active {
    height: 0;
    opacity: 0;
    transition:
        height 200ms ease-out,
        opacity 200ms ease-out;
}
